@media screen and (max-width: 1500px) {

    #menuList{
        margin-right: 30%;
    }

    #choiceMenu{
        margin-left: 77px;
    }
    
    #choose{
        margin-left: 560px;
    }

    #gameOptions{
        margin-left: 370px;
    }

    #extraGameOptions{
        margin-left: 474px;
    }

    .scoreCounter{
        margin-left: 182px;
    }
}

@media screen and (max-width:1024px){
    #menuList{
        margin-right: 21%;
    }

    #choiceMenu{
        margin-left: -100px;
    }

    #choose{
        margin-left: 390px;
    }

    #gameOptions{
        margin-left: 196px;
    }

    #extraGameOptions{
        margin-left: 300px;
    }

    .scoreCounter{
        margin-left: 100px;
    }
}

@media screen and (max-width:414px) {
    #menuList{
        margin-right: 25%;
    }

    #choiceMenu{
        margin-left: -284px;
    }

    #choose{
        margin-left: 85px;
    }

    #gameOptions{
        margin-left: 97px;
    }
    
    #extraGameOptions{
        margin-left: 97px;
    }

    .scoreCounter{
        margin-left: 97px;

    }
    
}

@media screen and (max-width: 411px){
    #menuList{
        display: flex;
        flex-direction: column-reverse;
        margin-right: 25%;
    }

    #choiceMenu{
        margin-left: -285px;
    }

    #choose{
        margin-left: 84px;
    }

    #gameOptions{
        margin-left: 97px;
    }
    
    #extraGameOptions{
        margin-top: 0px;
        margin-left: 97px;
    }

    .scoreCounter{
        margin-left: 97px;
    }
    
}

@media screen and (max-width: 375px) {
    #menuList{
        margin-right: 22%;
    }

    #choiceMenu{
        margin-left: -300px;
    }

    #choose{
        margin-left: 73px;
    }

    #gameOptions{
        margin-left: 85px;
    }
    
    #extraGameOptions{
        margin-top: 0px;
        margin-left: 85px;
    }

    .scoreCounter{
        margin-left: 85px;
    }
    
}

@media screen and (max-width: 360px) {
    #menuList{
        display: flex;
        flex-direction: column-reverse;
    }

    #choiceMenu{
        margin-left: -309px;
    }

    #choose{
        margin-left: 65px;
    }

    #gameOptions{
        margin-left: 75px;
    }
    
    #extraGameOptions{
        margin-left: 76px;
        margin-top: 1px;
    }

    .scoreCounter{
        margin-left: 75px;
    }
}


@media screen and (max-width:320px) {
    #mainTitle{
        font-size: 40px;
    }

    .levelButtons{
        margin-left: 10px;
        margin-right: 10px;
    }

    .boxed{
        margin-top: 5px;
    }

    #menuList{
        margin-right: 25%;
    }

    #choiceMenu{
        margin-left: -333px;
        padding-top: 20px;
    }

    #choose{
        margin-left: 40px;
        padding-top: 20px;
    }

    #gameOptions{
        margin-left: 50px;
    }
    
    #extraGameOptions{
        margin-left: 50px;
    }

    .scoreCounter{
        margin-left: 50px;
    }
    
}
