@media screen and (max-width: 1500px) {

    #menuList{
        margin-right: 30%;
    }

    #choiceMenu{
        margin-left: 77px;
    }
    
    #choose{
        margin-left: 560px;
    }

    #gameOptions{
        margin-left: 370px;
    }

    #extraGameOptions{
        margin-left: 474px;
    }

    .scoreCounter{
        margin-left: 182px;
    }
}

@media screen and (max-width:1024px){
    #menuList{
        margin-right: 21%;
    }

    #choiceMenu{
        margin-left: -100px;
    }

    #choose{
        margin-left: 390px;
    }

    #gameOptions{
        margin-left: 196px;
    }

    #extraGameOptions{
        margin-left: 300px;
    }

    .scoreCounter{
        margin-left: 100px;
    }
}
@media screen and (max-width: 360px) {
    #menuList{
        float: left;
    }
    
    #choiceMenu{
        margin-left: -309px;
    }

    #choose{
        margin-left: 65px;
    }

    #gameOptions{
        margin-left: 75px;
    }
    
    #extraGameOptions{
        margin-left: 76px;
        margin-top: 1px;
    }

    .scoreCounter{
        margin-left: 75px;
    }
}